# Python
__pycache__/
*.pyc

# client_py
client_py/build/

# Virtual env
.venv/

# OS
.DS_Store
Thumbs.db

# Secrets
.env

# DB
server/data/app.db

# Fly
.fly/

bin/
obj/
.vs/

*.user
*.suo
*.cache
*.exe
*.zip